<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Test</title>
        <!-- Chessboard CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'chess_game/js/board/css/chessboard-1.0.0.min.css' %}">
</head>
<body>
    
    TJ Test
    <p id="demo">A Paragraph.</p>
    <script src="{% static 'chess_game/js/myScript.js' %}"></script>
    <button type="button" onclick="myFunction()">Try it</button>
    
    <!-- chess testing DMZ -->
    <!-- jQuery (required by chessboard.js) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- chess.js (move validation) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>


    <!-- Chessboard JS -->
    <script src="{% static 'chess_game/js/board/js/chessboard-1.0.0.js' %}"></script>

    <!-- Board div -->
    <div id="board1" style="width: 400px"></div>
    <button id="startBtn">Start Position</button>
    <button id="clearBtn">Clear Board</button>

    <!-- Init -->
    <script>
        var game = new Chess()
      
        function onDrop(source, target) {
          var move = game.move({
            from: source,
            to: target,
            promotion: 'q'
          })
      
          if (move === null) return 'snapback'
      
          
        }
      
        function onSnapEnd() {
            board1.position(game.fen())
        }

        var board1 = Chessboard('board1', {
          position: 'start',
          draggable: true,
          pieceTheme: 'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png',
          onDrop: onDrop,
          onSnapEnd: onSnapEnd
        })
      
        

        $('#startBtn').on('click', board1.start)
        $('#clearBtn').on('click', board1.clear)
    </script>
    
</body>
</html>